Subject: You are invited to AutoSkill
Hello,

{{ inviter }} invited you to AutoSkill{% if project %} (project "{{ project }}"){% endif %}.
Create your account with this link (valid until {{ expires }}):

{{ url }}

If you did not expect this invitation, ignore this message.
