Subject: [AutoSkill] {{ title }}
Szia, {{ name }}!

{{ title }}
{% if body %}
{{ body }}
{% endif %}

AutoSkill megnyitása: {{ url }}

Ezt az e-mailt az értesítési beállításaid miatt kapod ({{ notification_kind }}).
