Subject: [AutoSkill] {{ title }}
Hello {{ name }},

{{ title }}
{% if body %}
{{ body }}
{% endif %}

Open AutoSkill: {{ url }}

You receive this email because of your notification preferences ({{ notification_kind }}).
